@{
    ViewData["Title"] = "Image Converter";
}

@model ConvertImageViewModel

<h1>Convert Your Image</h1>

@if (Model.ErrorMessages != null && Model.ErrorMessages.Count > 0)
{
    <partial name="_ErrorMessages" for="ErrorMessages" />
}

<form asp-action="Convert" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label class="form-label" asp-for="SourceFile"></label>
        <input class="form-control" asp-for="SourceFile" />
        <span asp-validation-for="SourceFile"></span>
    </div>
    <div class="form-group">
        <label class="form-label" asp-for="DestinationFileType"></label>
        <select class="form-select" asp-for=DestinationFileType asp-items="Model.AllImageTypes"></select>
        <span asp-validation-for="DestinationFileType"></span>
    </div>
    <div class='form-group'>
        <label class="form-label" asp-for="DestinationPixelWidth"></label>
        <input class="form-control" asp-for=DestinationPixelWidth />
        <span asp-validation-for="DestinationPixelWidth"></span>
    </div>
    <div class='form-group'>
        <label class="form-label" asp-for="DestinationPixelHeight"></label>
        <input class="form-control" asp-for=DestinationPixelHeight />
        <span asp-validation-for="DestinationPixelHeight"></span>
    </div>
    <div class="form-check">
        <input class="form-check-input" asp-for="Uncompressed" />
        <label class="form-check-label" asp-for="Uncompressed"></label>
        <span asp-validation-for="Uncompressed"></span>
    </div>
    <button class="btn btn-primary" type="submit">Click Me</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}