html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.validation-summary-errors, .field-validation-error, .error-message-list {
    color: red;
    font-weight: bold;
}

input, select {
    max-width: 400px;
}